<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="seeingyou" value="http://seeingyou.top:10001/v3/index.json" allowInsecureConnections="True" />
  </packageSources>
  <packageSourceCredentials>
    <seeingyou>
      <add key="Username" value="admin" />
      <add key="ClearTextPassword" value="admin123" />
    </seeingyou>
  </packageSourceCredentials>
  <config>
    <add key="allowInsecureConnections" value="true" />
  </config>
</configuration>
